{% extends 'layout.html.twig' %}

{% block title %}
   Produits en stock
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/projet.css') }}">
{% endblock %}
        
{% block body %}
<h1><i class="fa fa-users fa-lg"></i> Produits</h1>

    {% if msg is not empty %}
        <div class='alert alert-success'>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">
                <i class='fa fa-times fa-lg'></i>
            </a>

            {{ msg }}
        </div>
    {% endif %}
    
    {% if produits %}
    <table class="table table-striped" id='tab'>
        <thead>
            <tr>
                <th>NomProduit</th>
                <th>Prix</th>
                <th>Quantité</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nomproduit }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.qte }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    {% else %}
       Aucun produit disponible.
    {% endif %}
{% endblock %}
    